# Ignore audio files
*.wav

# Ignore dataset audio folders
dataset/audios/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env